name: BotRun
on:
  push:
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install
        run: pip install discord.py requests
      - name: Start
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: python main.py
