name: Python Bot 24/7

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *' # Перезапуск каждые 6 часов на всякий случай
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Libs
        run: pip install discord.py requests

      - name: Start Bot
        run: python bot.py
